@define-color accent_color #94d5a9;
@define-color accent_bg_color #94d5a9;
@define-color accent_fg_color #0f1511;
@define-color destructive_color #94d5a9;
@define-color destructive_bg_color #94d5a9;
@define-color destructive_fg_color #0f1511;
@define-color success_color #94d5a9;
@define-color success_bg_color #94d5a9;
@define-color success_fg_color #0f1511;
@define-color warning_color #94d5a9;
@define-color warning_bg_color #94d5a9;
@define-color warning_fg_color #0f1511;
@define-color error_color #94d5a9;
@define-color error_bg_color #94d5a9;
@define-color error_fg_color #0f1511;
@define-color window_bg_color #0f1511;
@define-color window_fg_color #dfe4dd;
@define-color view_bg_color #0f1511;
@define-color view_fg_color #dfe4dd;
@define-color headerbar_bg_color #0f1511;
@define-color headerbar_fg_color #dfe4dd;
@define-color headerbar_border_color #0f1511;
@define-color headerbar_backdrop_color #0f1511;
@define-color headerbar_shade_color #0f1511;
@define-color card_bg_color #0f1511;
@define-color card_fg_color #dfe4dd;
@define-color card_shade_color #0f1511;
@define-color dialog_bg_color #0f1511;
@define-color dialog_fg_color #dfe4dd;
@define-color popover_bg_color #0f1511;
@define-color popover_fg_color #dfe4dd;
@define-color shade_color #0f1511;
@define-color scrollbar_outline_color #0f1511;
