@define-color accent_color #8aadf4;
@define-color accent_bg_color #8aadf4;
@define-color accent_fg_color #181926;
@define-color destructive_color #ed8796;
@define-color destructive_bg_color #ed8796;
@define-color destructive_fg_color #181926;
@define-color success_color #a6da95;
@define-color success_bg_color #a6da95;
@define-color success_fg_color #181926;
@define-color warning_color #eed49f;
@define-color warning_bg_color #eed49f;
@define-color warning_fg_color #181926;
@define-color error_color #ed8796;
@define-color error_bg_color #ed8796;
@define-color error_fg_color #181926;
@define-color window_bg_color #181926;
@define-color window_fg_color #cad3f5;
@define-color view_bg_color #24273a;
@define-color view_fg_color #cad3f5;
@define-color headerbar_bg_color #24273a;
@define-color headerbar_fg_color #cad3f5;
@define-color headerbar_border_color #181926;
@define-color headerbar_backdrop_color #181926;
@define-color headerbar_shade_color #181926;
@define-color card_bg_color #181926;
@define-color card_fg_color #cad3f5;
@define-color card_shade_color #181926;
@define-color dialog_bg_color #181926;
@define-color dialog_fg_color #cad3f5;
@define-color popover_bg_color #181926;
@define-color popover_fg_color #cad3f5;
@define-color shade_color #181926;
@define-color scrollbar_outline_color #181926;
