@define-color accent_color #9cd49f;
@define-color accent_bg_color #9cd49f;
@define-color accent_fg_color #101510;
@define-color destructive_color #9cd49f;
@define-color destructive_bg_color #9cd49f;
@define-color destructive_fg_color #101510;
@define-color success_color #9cd49f;
@define-color success_bg_color #9cd49f;
@define-color success_fg_color #101510;
@define-color warning_color #9cd49f;
@define-color warning_bg_color #9cd49f;
@define-color warning_fg_color #101510;
@define-color error_color #9cd49f;
@define-color error_bg_color #9cd49f;
@define-color error_fg_color #101510;
@define-color window_bg_color #101510;
@define-color window_fg_color #e0e4db;
@define-color view_bg_color #101510;
@define-color view_fg_color #e0e4db;
@define-color headerbar_bg_color #101510;
@define-color headerbar_fg_color #e0e4db;
@define-color headerbar_border_color #101510;
@define-color headerbar_backdrop_color #101510;
@define-color headerbar_shade_color #101510;
@define-color card_bg_color #101510;
@define-color card_fg_color #e0e4db;
@define-color card_shade_color #101510;
@define-color dialog_bg_color #101510;
@define-color dialog_fg_color #e0e4db;
@define-color popover_bg_color #101510;
@define-color popover_fg_color #e0e4db;
@define-color shade_color #101510;
@define-color scrollbar_outline_color #101510;
