@define-color accent_color #ffb77f;
@define-color accent_bg_color #ffb77f;
@define-color accent_fg_color #19120d;
@define-color destructive_color #ffb77f;
@define-color destructive_bg_color #ffb77f;
@define-color destructive_fg_color #19120d;
@define-color success_color #ffb77f;
@define-color success_bg_color #ffb77f;
@define-color success_fg_color #19120d;
@define-color warning_color #ffb77f;
@define-color warning_bg_color #ffb77f;
@define-color warning_fg_color #19120d;
@define-color error_color #ffb77f;
@define-color error_bg_color #ffb77f;
@define-color error_fg_color #19120d;
@define-color window_bg_color #19120d;
@define-color window_fg_color #efdfd6;
@define-color view_bg_color #19120d;
@define-color view_fg_color #efdfd6;
@define-color headerbar_bg_color #19120d;
@define-color headerbar_fg_color #efdfd6;
@define-color headerbar_border_color #19120d;
@define-color headerbar_backdrop_color #19120d;
@define-color headerbar_shade_color #19120d;
@define-color card_bg_color #19120d;
@define-color card_fg_color #efdfd6;
@define-color card_shade_color #19120d;
@define-color dialog_bg_color #19120d;
@define-color dialog_fg_color #efdfd6;
@define-color popover_bg_color #19120d;
@define-color popover_fg_color #efdfd6;
@define-color shade_color #19120d;
@define-color scrollbar_outline_color #19120d;
