@define-color accent_color #a2c9fd;
@define-color accent_bg_color #a2c9fd;
@define-color accent_fg_color #111418;
@define-color destructive_color #bf616a;
@define-color destructive_bg_color #bf616a;
@define-color destructive_fg_color #111418;
@define-color success_color #a3be8c;
@define-color success_bg_color #a3be8c;
@define-color success_fg_color #111418;
@define-color warning_color #ebcb8b;
@define-color warning_bg_color #ebcb8b;
@define-color warning_fg_color #111418;
@define-color error_color #bf616a;
@define-color error_bg_color #bf616a;
@define-color error_fg_color #111418;
@define-color window_bg_color #111418;
@define-color window_fg_color #e1e2e8;
@define-color view_bg_color #111418;
@define-color view_fg_color #e1e2e8;
@define-color headerbar_bg_color #111418;
@define-color headerbar_fg_color #e1e2e8;
@define-color headerbar_border_color #111418;
@define-color headerbar_backdrop_color #111418;
@define-color headerbar_shade_color #111418;
@define-color card_bg_color #111418;
@define-color card_fg_color #e1e2e8;
@define-color card_shade_color #111418;
@define-color dialog_bg_color #111418;
@define-color dialog_fg_color #e1e2e8;
@define-color popover_bg_color #111418;
@define-color popover_fg_color #e1e2e8;
@define-color shade_color #111418;
@define-color scrollbar_outline_color #111418;
