@define-color accent_color #D3C6AA;
@define-color accent_bg_color #D3C6AA;
@define-color accent_fg_color #232A2E;
@define-color destructive_color #e67e80;
@define-color destructive_bg_color #e67e80;
@define-color destructive_fg_color #232A2E;
@define-color success_color #a7c080;
@define-color success_bg_color #a7c080;
@define-color success_fg_color #232A2E;
@define-color warning_color #dbbc7f;
@define-color warning_bg_color #dbbc7f;
@define-color warning_fg_color #232A2E;
@define-color error_color #e67e80;
@define-color error_bg_color #e67e80;
@define-color error_fg_color #232A2E;
@define-color window_bg_color #232A2E;
@define-color window_fg_color #D3C6AA;
@define-color view_bg_color #2D353B;
@define-color view_fg_color #D3C6AA;
@define-color headerbar_bg_color #232A2E;
@define-color headerbar_fg_color #D3C6AA;
@define-color headerbar_border_color #232A2E;
@define-color headerbar_backdrop_color #232A2E;
@define-color headerbar_shade_color #232A2E;
@define-color card_bg_color #2D353B;
@define-color card_fg_color #D3C6AA;
@define-color card_shade_color #232A2E;
@define-color dialog_bg_color #2D353B;
@define-color dialog_fg_color #D3C6AA;
@define-color popover_bg_color #232A2E;
@define-color popover_fg_color #D3C6AA;
@define-color shade_color #232A2E;
@define-color scrollbar_outline_color #232A2E;
